.apps_body-underline-small_regular{ font-size: 12px;line-height: 16px;font-weight: 400;text-decoration: underline; }
.apps_body-underline-small_medium{ font-size: 12px;line-height: 16px;font-weight: 500;text-decoration: underline; }
.apps_body-underline-middle_regular{ font-size: 14px;line-height: 20px;font-weight: 400;text-decoration: underline; }
.apps_body-underline-middle_medium{ font-size: 14px;line-height: 20px;font-weight: 500;text-decoration: underline; }
.apps_body-underline-large_regular{ font-size: 16px;line-height: 24px;font-weight: 400;text-decoration: underline; }
.apps_body-underline-large_medium{ font-size: 16px;line-height: 24px;font-weight: 500;text-decoration: underline; }
.apps_body-small_regular{ font-size: 12px;line-height: 16px;font-weight: 400;text-decoration: none; }
.apps_body-small_medium{ font-size: 12px;line-height: 16px;font-weight: 500;text-decoration: none; }
.apps_body-small_bold{ font-size: 12px;line-height: 16px;font-weight: 700;text-decoration: none; }
.apps_body-middle_regular{ font-size: 14px;line-height: 20px;font-weight: 400;text-decoration: none; }
.apps_body-middle_medium{ font-size: 14px;line-height: 20px;font-weight: 500;text-decoration: none; }
.apps_body-middle_bold{ font-size: 14px;line-height: 20px;font-weight: 700;text-decoration: none; }
.apps_body-large_regular{ font-size: 16px;line-height: 24px;font-weight: 400;text-decoration: none; }
.apps_body-large_medium{ font-size: 16px;line-height: 24px;font-weight: 500;text-decoration: none; }
.apps_body-large_bold{ font-size: 16px;line-height: 24px;font-weight: 700;text-decoration: none; }
.apps_heading-small_regular{ font-size: 20px;line-height: 28px;font-weight: 400;text-decoration: none; }
.apps_heading-small_medium{ font-size: 20px;line-height: 28px;font-weight: 500;text-decoration: none; }
.apps_heading-small_bold{ font-size: 20px;line-height: 28px;font-weight: 700;text-decoration: none; }
.apps_heading-middle_regular{ font-size: 24px;line-height: 32px;font-weight: 400;text-decoration: none; }
.apps_heading-middle_medium{ font-size: 24px;line-height: 32px;font-weight: 500;text-decoration: none; }
.apps_heading-middle_bold{ font-size: 24px;line-height: 32px;font-weight: 700;text-decoration: none; }
.apps_heading-large_regular{ font-size: 32px;line-height: 40px;font-weight: 400;text-decoration: none; }
.apps_heading-large_medium{ font-size: 32px;line-height: 40px;font-weight: 500;text-decoration: none; }
.apps_heading-large_bold{ font-size: 32px;line-height: 40px;font-weight: 700;text-decoration: none; }
.apps_heading-xlarge_regular{ font-size: 40px;line-height: 52px;font-weight: 400;text-decoration: none; }
.apps_heading-xlarge_medium{ font-size: 40px;line-height: 52px;font-weight: 500;text-decoration: none; }
.apps_heading-xlarge_bold{ font-size: 40px;line-height: 52px;font-weight: 700;text-decoration: none; }
.apps_headline-small_light{ font-size: 52px;line-height: 64px;font-weight: 300;text-decoration: none; }
.apps_headline-small_regular{ font-size: 52px;line-height: 64px;font-weight: 400;text-decoration: none; }