$text-primary-normal:rgba(255,255,255,0.95);
$text-primary-disabled:rgba(255,255,255,0.4);
$text-inverted-normal:rgba(0,0,0,0.95);
$text-inverted-disabled:rgba(0,0,0,0.5);
$text-secondary-normal:rgba(255,255,255,0.7);
$text-secondary-inverted-normal:rgba(0,0,0,0.6);
$text-error-normal:rgba(252,139,152,1);
$text-error-hover:rgba(255,212,218,1);
$text-error-active:rgba(255,212,218,1);
$text-success-normal:rgba(60,194,154,1);
$text-success-hover:rgba(159,237,216,1);
$text-success-active:rgba(159,237,216,1);
$text-warning-normal:rgba(242,153,10,1);
$text-warning-hover:rgba(255,218,148,1);
$text-warning-active:rgba(255,218,148,1);
$text-highlight:rgba(6,58,117,1);
$text-accent-normal:rgba(100,180,250,1);
$text-accent-hover:rgba(191,227,255,1);
$text-accent-active:rgba(191,227,255,1);
$text-team-default-normal:rgba(255,255,255,0.7);
$text-team-default-hover:rgba(255,255,255,0.7);
$text-team-default-active:rgba(255,255,255,0.95);
$text-alert-purple-normal:rgba(242,148,241,1);
$text-alert-purple-hover:rgba(252,225,252,1);
$text-alert-purple-active:rgba(252,225,252,1);
$text-alert-orange-normal:rgba(255,202,153,1);
$text-alert-orange-hover:rgba(250,244,235,1);
$text-alert-orange-active:rgba(250,244,235,1);
$background-primary-ghost:rgba(255,255,255,0);
$background-primary-hover:rgba(255,255,255,0.07);
$background-primary-active:rgba(255,255,255,0.11);
$background-primary-disabled:rgba(255,255,255,0.11);
$background-solid-primary-normal:rgba(0,0,0,1);
$background-solid-secondary-normal:rgba(26,26,26,1);
$background-solid-tertiary-normal:rgba(38,38,38,1);
$background-solid-quaternary-normal:rgba(59,59,59,1);
$background-secondary-normal:rgba(255,255,255,0.11);
$background-secondary-hover:rgba(255,255,255,0.2);
$background-secondary-active:rgba(255,255,255,0.3);
$background-secondary-disabled:rgba(255,255,255,0);
$background-accent-normal:rgba(17,112,207,1);
$background-gradient-primary-normal:linear-gradient(rgba(26,26,26,1),rgba(15,15,15,1));
$background-gradient-secondary-normal:linear-gradient(rgba(38,38,38,1),rgba(15,15,15,1));
$background-alert-default-normal:rgba(38,38,38,1);
$background-alert-default-hover:rgba(38,38,38,1);
$background-alert-default-active:rgba(59,59,59,1);
$background-alert-success-normal:rgba(14,43,32,1);
$background-alert-success-hover:rgba(14,43,32,1);
$background-alert-success-active:rgba(19,66,49,1);
$background-alert-warning-normal:rgba(54,34,12,1);
$background-alert-warning-hover:rgba(54,34,12,1);
$background-alert-warning-active:rgba(87,51,10,1);
$background-alert-error-normal:rgba(79,14,16,1);
$background-alert-error-hover:rgba(79,14,16,1);
$background-alert-error-active:rgba(120,13,19,1);
$background-alert-theme-normal:rgba(10,39,74,1);
$background-alert-theme-hover:rgba(10,39,74,1);
$background-alert-theme-active:rgba(6,58,117,1);
$background-alert-purple-normal:rgba(59,24,64,1);
$background-alert-purple-hover:rgba(59,24,64,1);
$background-alert-purple-active:rgba(96,30,102,1);
$background-alert-orange-normal:rgba(51,34,27,1);
$background-alert-orange-hover:rgba(51,34,27,1);
$background-alert-orange-active:rgba(89,49,30,1);
$button-primary-normal:rgba(255,255,255,0.95);
$button-primary-hover:rgba(255,255,255,0.8);
$button-primary-pressed:rgba(255,255,255,0.7);
$button-primary-disabled:rgba(255,255,255,0.2);
$button-secondary-normal:rgba(255,255,255,0);
$button-secondary-hover:rgba(255,255,255,0.07);
$button-secondary-pressed:rgba(255,255,255,0.2);
$button-secondary-disabled:rgba(255,255,255,0);
$button-secondary-active-normal:rgba(255,255,255,0.2);
$button-secondary-active-hover:rgba(255,255,255,0.3);
$button-secondary-active-pressed:rgba(255,255,255,0.4);
$button-inverted-normal:rgba(15,15,15,1);
$button-inverted-hover:rgba(38,38,38,1);
$button-inverted-pressed:rgba(59,59,59,1);
$button-join-normal:rgba(29,128,95,1);
$button-join-hover:rgba(24,94,70,1);
$button-join-pressed:rgba(19,66,49,1);
$button-cancel-normal:rgba(219,31,46,1);
$button-cancel-hover:rgba(171,10,21,1);
$button-cancel-pressed:rgba(120,13,19,1);
$button-accent-normal:rgba(17,112,207,1);
$button-accent-hover:rgba(3,83,168,1);
$button-accent-pressed:rgba(6,58,117,1);
$outline-primary-normal:rgba(255,255,255,0.4);
$outline-theme-normal:rgba(100,180,250,1);
$outline-secondary-normal:rgba(255,255,255,0.2);
$outline-disabled-normal:rgba(255,255,255,0.2);
$outline-input-normal:rgba(255,255,255,0.5);
$outline-input-active:rgba(255,255,255,0.9);
$outline-button-normal:rgba(255,255,255,0.3);
$outline-join-normal:rgba(60,194,154,1);
$outline-cancel-normal:rgba(252,139,152,1);
$outline-gradient-active:linear-gradient(rgba(8,89,156,1),rgba(39,161,122,1),rgba(34,199,214,1));
$outline-share-selected:rgba(39,161,122,1);
$outline-share-active:rgba(242,107,29,1);
$outline-share-inactive:rgba(143,143,143,1);
$outline-overlay-normal:rgba(173,173,173,1);
$control-active-normal:rgba(100,180,250,1);
$control-active-hover:rgba(52,146,235,1);
$control-active-pressed:rgba(17,112,207,1);
$control-active-active:rgba(17,112,207,1);
$control-active-disabled:rgba(6,58,117,1);
$control-inactive-normal:rgba(255,255,255,0.2);
$control-inactive-hover:rgba(255,255,255,0.3);
$control-inactive-pressed:rgba(255,255,255,0.4);
$control-inactive-disabled:rgba(255,255,255,0.11);
$scrollbar-button-normal:rgba(255,255,255,0.2);
$scrollbar-button-hover:rgba(255,255,255,0.3);
$scrollbar-button-pressed:rgba(255,255,255,0.4);
$scrollbar-arrow-normal:rgba(255,255,255,0.7);
$scrollbar-arrow-background-normal:rgba(255,255,255,0);
$scrollbar-arrow-background-hover:rgba(255,255,255,0.11);
$scrollbar-arrow-background-pressed:rgba(255,255,255,0.2);
$scrollbar-background-secondary-ghost:rgba(255,255,255,0);
$scrollbar-background-secondary-normal:rgba(255,255,255,0.11);
$indicator-unstable:rgba(242,107,29,1);
$indicator-attention:rgba(245,88,104,1);
$indicator-stable:rgba(39,161,122,1);
$indicator-locked:rgba(143,143,143,1);
$indicator-caution:rgba(207,121,0,1);
$indicator-secure:rgba(52,146,235,1);
$whiteboard-sticky-note-yellow:rgba(255,190,79,1);
$whiteboard-sticky-note-red:rgba(252,139,152,1);
$whiteboard-sticky-note-purple:rgba(242,148,241,1);
$whiteboard-sticky-note-cyan:rgba(34,199,214,1);
$whiteboard-sticky-note-mint:rgba(48,201,176,1);
$illustration-empty-primary:linear-gradient(rgba(147,196,55,1),rgba(39,155,232,1));
$illustration-empty-secondary:linear-gradient(rgba(39,155,232,1),rgba(135,90,224,1));
$illustration-onboarding-primary:linear-gradient(rgba(255,190,79,1),rgba(147,196,55,1));
$illustration-onboarding-secondary:linear-gradient(rgba(245,88,104,1),rgba(135,90,224,1));
$illustration-onboarding-tertiary:linear-gradient(rgba(255,190,79,1),rgba(242,107,29,1));
$illustration-onboarding-quaternary:linear-gradient(rgba(147,196,55,1),rgba(39,155,232,1));
$illustration-onboarding-quinary:linear-gradient(rgba(39,155,232,1),rgba(135,90,224,1));
$illustration-success:linear-gradient(rgba(60,194,154,1),rgba(147,196,55,1));
$illustration-error:linear-gradient(rgba(240,103,126,1),rgba(219,31,46,1));
$illustration-default:rgba(255,255,255,1);
$global-tint-normal:rgba(52,146,235,1);
$global-tint-selected:rgba(17,112,207,1);
$grouped-background-primary-normal:rgba(0,0,0,1);
$grouped-background-secondary-normal:rgba(26,26,26,1);
$grouped-background-tertiary-normal:rgba(38,38,38,1);
$grouped-background-quaternary-normal:rgba(59,59,59,1);
$teaching-background-normal:rgba(255,255,255,1);
$teaching-button-primary-normal:rgba(0,0,0,0.95);
$teaching-button-primary-hover:rgba(0,0,0,0.8);
$teaching-button-primary-pressed:rgba(0,0,0,0.7);
$teaching-button-primary-disabled:rgba(0,0,0,0.2);
$teaching-button-secondary-normal:rgba(0,0,0,0);
$teaching-button-secondary-hover:rgba(0,0,0,0.07);
$teaching-button-secondary-pressed:rgba(0,0,0,0.2);
$teaching-outline-normal:rgba(0,0,0,0.2);
$teaching-outline-button-normal:rgba(0,0,0,0.3);
$teaching-text-accent-normal:rgba(3,83,168,1);
$teaching-text-accent-hover:rgba(10,39,74,1);
$teaching-text-accent-disabled:rgba(0,0,0,0.4);
$teaching-outline-theme-normal:rgba(17,112,207,1);
$teaching-text-primary-disabled:rgba(0,0,0,0.4);
$teaching-outline-disabled-normal:rgba(0,0,0,0.2);
$overlay-meetings-normal:rgba(0,0,0,0.8);
$text-primary-normal:rgba(0,0,0,0.95);
$text-primary-disabled:rgba(0,0,0,0.4);
$text-inverted-normal:rgba(255,255,255,0.95);
$text-inverted-disabled:rgba(255,255,255,0.8);
$text-secondary-normal:rgba(0,0,0,0.6);
$text-secondary-inverted-normal:rgba(255,255,255,0.7);
$text-error-normal:rgba(171,10,21,1);
$text-error-hover:rgba(79,14,16,1);
$text-error-active:rgba(79,14,16,1);
$text-success-normal:rgba(24,94,70,1);
$text-success-hover:rgba(14,43,32,1);
$text-success-active:rgba(14,43,32,1);
$text-warning-normal:rgba(125,71,5,1);
$text-warning-hover:rgba(54,34,12,1);
$text-warning-active:rgba(54,34,12,1);
$text-highlight:rgba(191,227,255,1);
$text-accent-normal:rgba(3,83,168,1);
$text-accent-hover:rgba(10,39,74,1);
$text-accent-active:rgba(10,39,74,1);
$text-team-default-normal:rgba(0,0,0,0.6);
$text-team-default-hover:rgba(0,0,0,0.6);
$text-team-default-active:rgba(0,0,0,0.95);
$text-alert-purple-normal:rgba(147,32,153,1);
$text-alert-purple-hover:rgba(147,32,153,1);
$text-alert-purple-active:rgba(59,24,64,1);
$text-alert-orange-normal:rgba(145,64,23,1);
$text-alert-orange-hover:rgba(51,34,27,1);
$text-alert-orange-active:rgba(51,34,27,1);
$background-primary-ghost:rgba(0,0,0,0);
$background-primary-hover:rgba(0,0,0,0.07);
$background-primary-active:rgba(0,0,0,0.11);
$background-primary-disabled:rgba(0,0,0,0.11);
$background-solid-primary-normal:rgba(255,255,255,1);
$background-solid-secondary-normal:rgba(237,237,237,1);
$background-solid-tertiary-normal:rgba(247,247,247,1);
$background-solid-quaternary-normal:rgba(255,255,255,1);
$background-secondary-normal:rgba(0,0,0,0.11);
$background-secondary-hover:rgba(0,0,0,0.2);
$background-secondary-active:rgba(0,0,0,0.3);
$background-secondary-disabled:rgba(0,0,0,0);
$background-accent-normal:rgba(17,112,207,1);
$background-gradient-primary-normal:linear-gradient(rgba(240,240,240,1),rgba(255,255,255,1));
$background-gradient-secondary-normal:linear-gradient(rgba(250,250,250,1),rgba(255,255,255,1));
$background-alert-default-normal:rgba(237,237,237,1);
$background-alert-default-hover:rgba(237,237,237,1);
$background-alert-default-active:rgba(222,222,222,1);
$background-alert-success-normal:rgba(206,245,235,1);
$background-alert-success-hover:rgba(206,245,235,1);
$background-alert-success-active:rgba(159,237,216,1);
$background-alert-warning-normal:rgba(255,235,194,1);
$background-alert-warning-hover:rgba(255,235,194,1);
$background-alert-warning-active:rgba(255,218,148,1);
$background-alert-error-normal:rgba(255,232,234,1);
$background-alert-error-hover:rgba(255,232,234,1);
$background-alert-error-active:rgba(255,212,218,1);
$background-alert-theme-normal:rgba(219,240,255,1);
$background-alert-theme-hover:rgba(219,240,255,1);
$background-alert-theme-active:rgba(191,227,255,1);
$background-alert-purple-normal:rgba(252,242,252,1);
$background-alert-purple-hover:rgba(252,242,252,1);
$background-alert-purple-active:rgba(252,225,252,1);
$background-alert-orange-normal:rgba(250,244,235,1);
$background-alert-orange-hover:rgba(250,244,235,1);
$background-alert-orange-active:rgba(252,228,199,1);
$button-primary-normal:rgba(0,0,0,0.95);
$button-primary-hover:rgba(0,0,0,0.8);
$button-primary-pressed:rgba(0,0,0,0.7);
$button-primary-disabled:rgba(0,0,0,0.2);
$button-secondary-normal:rgba(0,0,0,0);
$button-secondary-hover:rgba(0,0,0,0.07);
$button-secondary-pressed:rgba(0,0,0,0.2);
$button-secondary-disabled:rgba(0,0,0,0);
$button-secondary-active-normal:rgba(0,0,0,0.2);
$button-secondary-active-hover:rgba(0,0,0,0.3);
$button-secondary-active-pressed:rgba(0,0,0,0.4);
$button-inverted-normal:rgba(255,255,255,1);
$button-inverted-hover:rgba(237,237,237,1);
$button-inverted-pressed:rgba(222,222,222,1);
$button-join-normal:rgba(29,128,95,1);
$button-join-hover:rgba(24,94,70,1);
$button-join-pressed:rgba(19,66,49,1);
$button-cancel-normal:rgba(219,31,46,1);
$button-cancel-hover:rgba(171,10,21,1);
$button-cancel-pressed:rgba(120,13,19,1);
$button-accent-normal:rgba(17,112,207,1);
$button-accent-hover:rgba(3,83,168,1);
$button-accent-pressed:rgba(6,58,117,1);
$outline-primary-normal:rgba(0,0,0,0.4);
$outline-theme-normal:rgba(17,112,207,1);
$outline-secondary-normal:rgba(0,0,0,0.2);
$outline-disabled-normal:rgba(0,0,0,0.2);
$outline-input-normal:rgba(0,0,0,0.5);
$outline-input-active:rgba(0,0,0,0.9);
$outline-button-normal:rgba(0,0,0,0.3);
$outline-join-normal:rgba(24,94,70,1);
$outline-cancel-normal:rgba(171,10,21,1);
$outline-gradient-active:linear-gradient(rgba(8,89,156,1),rgba(39,161,122,1),rgba(34,199,214,1));
$outline-share-selected:rgba(39,161,122,1);
$outline-share-active:rgba(242,107,29,1);
$outline-share-inactive:rgba(143,143,143,1);
$outline-overlay-normal:rgba(112,112,112,1);
$control-active-normal:rgba(17,112,207,1);
$control-active-hover:rgba(3,83,168,1);
$control-active-pressed:rgba(6,58,117,1);
$control-active-active:rgba(6,58,117,1);
$control-active-disabled:rgba(191,227,255,1);
$control-inactive-normal:rgba(0,0,0,0.2);
$control-inactive-hover:rgba(0,0,0,0.3);
$control-inactive-pressed:rgba(0,0,0,0.4);
$control-inactive-disabled:rgba(0,0,0,0.11);
$scrollbar-button-normal:rgba(0,0,0,0.2);
$scrollbar-button-hover:rgba(0,0,0,0.3);
$scrollbar-button-pressed:rgba(0,0,0,0.4);
$scrollbar-arrow-normal:rgba(0,0,0,0.6);
$scrollbar-arrow-background-normal:rgba(0,0,0,0);
$scrollbar-arrow-background-hover:rgba(0,0,0,0.11);
$scrollbar-arrow-background-pressed:rgba(0,0,0,0.2);
$scrollbar-arrow-background-secondary-ghost:rgba(0,0,0,0);
$scrollbar-background-secondary-normal:rgba(0,0,0,0.11);
$indicator-unstable:rgba(199,79,14,1);
$indicator-attention:rgba(219,31,46,1);
$indicator-stable:rgba(29,128,95,1);
$indicator-locked:rgba(112,112,112,1);
$indicator-caution:rgba(207,121,0,1);
$indicator-secure:rgba(17,112,207,1);
$whiteboard-sticky-note-yellow:rgba(255,190,79,1);
$whiteboard-sticky-note-red:rgba(252,139,152,1);
$whiteboard-sticky-note-purple:rgba(242,148,241,1);
$whiteboard-sticky-note-cyan:rgba(34,199,214,1);
$whiteboard-sticky-note-mint:rgba(48,201,176,1);
$illustration-empty-primary:linear-gradient(rgba(147,196,55,1),rgba(39,155,232,1));
$illustration-empty-secondary:linear-gradient(rgba(39,155,232,1),rgba(135,90,224,1));
$illustration-onboarding-primary:linear-gradient(rgba(255,190,79,1),rgba(147,196,55,1));
$illustration-onboarding-secondary:linear-gradient(rgba(245,88,104,1),rgba(135,90,224,1));
$illustration-onboarding-tertiary:linear-gradient(rgba(255,190,79,1),rgba(242,107,29,1));
$illustration-onboarding-quaternary:linear-gradient(rgba(147,196,55,1),rgba(39,155,232,1));
$illustration-onboarding-quinary:linear-gradient(rgba(39,155,232,1),rgba(135,90,224,1));
$illustration-success:linear-gradient(rgba(60,194,154,1),rgba(147,196,55,1));
$illustration-error:linear-gradient(rgba(240,103,126,1),rgba(219,31,46,1));
$illustration-default:rgba(7,16,28,1);
$global-tint-normal:rgba(17,112,207,1);
$global-tint-selected:rgba(17,112,207,1);
$grouped-background-primary-normal:rgba(247,247,247,1);
$grouped-background-secondary-normal:rgba(255,255,255,1);
$grouped-background-tertiary-normal:rgba(247,247,247,1);
$grouped-background-quaternary-normal:rgba(255,255,255,1);
$teaching-background-normal:rgba(0,0,0,1);
$teaching-button-primary-normal:rgba(255,255,255,0.95);
$teaching-button-primary-hover:rgba(255,255,255,0.8);
$teaching-button-primary-pressed:rgba(255,255,255,0.7);
$teaching-button-secondary-normal:rgba(255,255,255,0);
$teaching-button-secondary-hover:rgba(255,255,255,0.07);
$teaching-button-secondary-pressed:rgba(255,255,255,0.2);
$teaching-outline-button-normal:rgba(255,255,255,0.3);
$teaching-outline-normal:rgba(255,255,255,0.2);
$teaching-text-accent-normal:rgba(100,180,250,1);
$teaching-text-accent-hover:rgba(191,227,255,1);
$teaching-text-accent-disabled:rgba(255,255,255,0.4);
$teaching-outline-theme-normal:rgba(100,180,250,1);
$teaching-button-primary-disabled:rgba(255,255,255,0.2);
$teaching-outline-disabled-normal:rgba(255,255,255,0.2);
$teaching-text-primary-disabled:rgba(255,255,255,0.4);
$overlay-meetings-normal:rgba(255,255,255,0.8);
$common-text-white:rgba(255,255,255,0.95);
$common-text-gray:rgba(255,255,255,0.7);
$common-text-black:rgba(0,0,0,0.95);
$common-text-disabled:rgba(255,255,255,0.4);
$common-text-success:rgba(60,194,154,1);
$common-text-success-hover:rgba(159,237,216,1);
$common-text-error:rgba(252,139,152,1);
$common-text-error-hover:rgba(255,212,218,1);
$common-overlay-primary-normal:rgba(0,0,0,0.9);
$common-overlay-secondary-normal:rgba(0,0,0,0.4);
$common-control-share-content-active:rgba(199,79,14,1);
$common-control-share-content-inactive:rgba(112,112,112,1);
$common-control-share-content-selected:rgba(60,194,154,1);
$common-control-inactive-normal:rgba(0,0,0,0.2);
$common-button-primary-normal:rgba(255,255,255,0.95);
$common-button-primary-hover:rgba(255,255,255,0.8);
$common-button-primary-pressed:rgba(255,255,255,0.7);
$common-button-primary-disabled:rgba(255,255,255,0.2);
$common-button-secondary-normal:rgba(255,255,255,0);
$common-button-secondary-hover:rgba(255,255,255,0.07);
$common-button-secondary-active-normal:rgba(255,255,255,0.2);
$common-button-secondary-active-hover:rgba(255,255,255,0.3);
$common-button-secondary-active-pressed:rgba(255,255,255,0.4);
$common-button-secondary-disabled:rgba(255,255,255,0);
$common-outline-button-normal:rgba(255,255,255,0.3);
$common-outline-input-normal:rgba(255,255,255,0.5);
$common-outline-disabled-normal:rgba(255,255,255,0.2);
$common-outline-primary-normal:rgba(255,255,255,0.4);