$text-team-cobalt-normal:rgba(94,191,247,1);
$text-team-cobalt-hover:rgba(94,191,247,1);
$text-team-cobalt-active:rgba(199,238,255,1);
$text-team-cyan-normal:rgba(34,199,214,1);
$text-team-cyan-hover:rgba(34,199,214,1);
$text-team-cyan-active:rgba(178,244,247,1);
$text-team-mint-normal:rgba(48,201,176,1);
$text-team-mint-hover:rgba(48,201,176,1);
$text-team-mint-active:rgba(186,245,231,1);
$text-team-lime-normal:rgba(147,196,55,1);
$text-team-lime-hover:rgba(147,196,55,1);
$text-team-lime-active:rgba(221,242,174,1);
$text-team-gold-normal:rgba(214,178,32,1);
$text-team-gold-hover:rgba(214,178,32,1);
$text-team-gold-active:rgba(245,234,162,1);
$text-team-orange-normal:rgba(255,157,82,1);
$text-team-orange-hover:rgba(255,157,82,1);
$text-team-orange-active:rgba(252,228,199,1);
$text-team-pink-normal:rgba(252,151,170,1);
$text-team-pink-hover:rgba(252,151,170,1);
$text-team-pink-active:rgba(255,224,231,1);
$text-team-purple-normal:rgba(242,148,241,1);
$text-team-purple-hover:rgba(242,148,241,1);
$text-team-purple-active:rgba(252,225,252,1);
$text-team-violet-normal:rgba(199,165,250,1);
$text-team-violet-hover:rgba(199,165,250,1);
$text-team-violet-active:rgba(240,227,252,1);
$text-team-slate-normal:rgba(176,180,217,1);
$text-team-slate-hover:rgba(176,180,217,1);
$text-team-slate-active:rgba(227,231,250,1);
$background-label-cobalt-normal:rgba(18,40,61,1);
$background-label-cobalt-hover:rgba(16,60,99,1);
$background-label-cobalt-active:rgba(8,89,156,1);
$background-label-lime-normal:rgba(30,43,16,1);
$background-label-lime-hover:rgba(45,66,20,1);
$background-label-lime-active:rgba(65,97,22,1);
$background-label-mint-normal:rgba(16,43,42,1);
$background-label-mint-hover:rgba(18,66,63,1);
$background-label-mint-active:rgba(18,97,90,1);
$background-label-slate-normal:rgba(38,38,43,1);
$background-label-slate-hover:rgba(57,58,71,1);
$background-label-slate-active:rgba(83,85,115,1);
$background-label-violet-normal:rgba(41,34,61,1);
$background-label-violet-hover:rgba(67,44,120,1);
$background-label-violet-active:rgba(100,58,189,1);
$background-label-purple-normal:rgba(59,24,64,1);
$background-label-purple-hover:rgba(96,30,102,1);
$background-label-purple-active:rgba(147,32,153,1);
$background-label-orange-normal:rgba(51,34,27,1);
$background-label-orange-hover:rgba(89,49,30,1);
$background-label-orange-active:rgba(145,64,23,1);
$background-label-gold-normal:rgba(48,36,13,1);
$background-label-gold-hover:rgba(77,55,12,1);
$background-label-gold-active:rgba(115,81,7,1);
$background-common-normal:rgba(255,255,255,1);
$background-name-label-normal:rgba(0,0,0,0.5);
$background-label-pink-hover:rgba(102,38,45,1);
$background-label-pink-normal:rgba(59,30,33,1);
$background-label-pink-active:rgba(161,42,58,1);
$outline-label-cobalt:rgba(94,191,247,1);
$outline-label-lime:rgba(147,196,55,1);
$outline-label-mint:rgba(48,201,176,1);
$outline-label-slate:rgba(176,180,217,1);
$outline-label-violet:rgba(199,165,250,1);
$outline-label-purple:rgba(242,148,241,1);
$outline-label-orange:rgba(255,157,82,1);
$outline-label-gold:rgba(214,178,32,1);
$outline-label-pink:rgba(252,151,170,1);
$avatar-default:rgba(84,84,84,1);
$avatar-cobalt:rgba(8,89,156,1);
$avatar-cyan:rgba(6,96,112,1);
$avatar-gold:rgba(115,81,7,1);
$avatar-lime:rgba(65,97,22,1);
$avatar-mint:rgba(18,97,90,1);
$avatar-orange:rgba(145,64,23,1);
$avatar-pink:rgba(161,42,58,1);
$avatar-purple:rgba(147,32,153,1);
$avatar-slate:rgba(83,85,115,1);
$avatar-violet:rgba(100,58,189,1);
$avatar-yellow:rgba(125,71,5,1);
$gradient-divider-normal:linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0.2),rgba(255,255,255,0.2));
$gradient-divider-hover:linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0.6),rgba(255,255,255,0.6));
$gradient-divider-error-normal:linear-gradient(rgba(252,139,152,0),rgba(252,139,152,0),rgba(252,139,152,0.6),rgba(252,139,152,0.6));
$gradient-divider-error-hover:linear-gradient(rgba(252,139,152,0),rgba(252,139,152,0),rgba(252,139,152,0.9),rgba(252,139,152,0.9));
$gradient-divider-warning-normal:linear-gradient(rgba(242,153,10,0),rgba(242,153,10,0),rgba(242,153,10,0.6),rgba(242,153,10,0.6));
$gradient-divider-warning-hover:linear-gradient(rgba(242,153,10,0),rgba(242,153,10,0),rgba(242,153,10,0.9),rgba(242,153,10,0.9));
$gradient-divider-announce-normal:linear-gradient(rgba(100,180,250,0),rgba(100,180,250,0),rgba(100,180,250,0.6),rgba(100,180,250,0.6));
$gradient-divider-announce-hover:linear-gradient(rgba(100,180,250,0),rgba(100,180,250,0),rgba(100,180,250,0.9),rgba(100,180,250,0.9));
$text-team-cobalt-normal:rgba(8,89,156,1);
$text-team-cobalt-hover:rgba(8,89,156,1);
$text-team-cobalt-active:rgba(18,40,61,1);
$text-team-cyan-normal:rgba(6,96,112,1);
$text-team-cyan-hover:rgba(6,96,112,1);
$text-team-cyan-active:rgba(11,42,48,1);
$text-team-mint-normal:rgba(18,97,90,1);
$text-team-mint-hover:rgba(18,97,90,1);
$text-team-mint-active:rgba(16,43,42,1);
$text-team-lime-normal:rgba(65,97,22,1);
$text-team-lime-hover:rgba(65,97,22,1);
$text-team-lime-active:rgba(30,43,16,1);
$text-team-gold-normal:rgba(115,81,7,1);
$text-team-gold-hover:rgba(115,81,7,1);
$text-team-gold-active:rgba(48,36,13,1);
$text-team-orange-normal:rgba(145,64,23,1);
$text-team-orange-hover:rgba(145,64,23,1);
$text-team-orange-active:rgba(51,34,27,1);
$text-team-pink-normal:rgba(161,42,58,1);
$text-team-pink-hover:rgba(161,42,58,1);
$text-team-pink-active:rgba(59,30,33,1);
$text-team-purple-normal:rgba(147,32,153,1);
$text-team-purple-hover:rgba(147,32,153,1);
$text-team-purple-active:rgba(59,24,64,1);
$text-team-violet-normal:rgba(100,58,189,1);
$text-team-violet-hover:rgba(100,58,189,1);
$text-team-violet-active:rgba(41,34,61,1);
$text-team-slate-normal:rgba(83,85,115,1);
$text-team-slate-hover:rgba(83,85,115,1);
$text-team-slate-active:rgba(38,38,43,1);
$background-label-cobalt-normal:rgba(229,248,255,1);
$background-label-cobalt-hover:rgba(199,238,255,1);
$background-label-cobalt-active:rgba(153,221,255,1);
$background-label-lime-normal:rgba(243,247,233,1);
$background-label-lime-hover:rgba(221,242,174,1);
$background-label-lime-active:rgba(188,227,111,1);
$background-label-mint-normal:rgba(233,247,243,1);
$background-label-mint-hover:rgba(186,245,231,1);
$background-label-mint-active:rgba(116,232,209,1);
$background-label-slate-normal:rgba(242,244,255,1);
$background-label-slate-hover:rgba(227,231,250,1);
$background-label-slate-active:rgba(206,210,237,1);
$background-label-violet-normal:rgba(248,242,252,1);
$background-label-violet-hover:rgba(240,227,252,1);
$background-label-violet-active:rgba(226,202,252,1);
$background-label-purple-normal:rgba(252,242,252,1);
$background-label-purple-hover:rgba(252,225,252,1);
$background-label-purple-active:rgba(250,195,248,1);
$background-label-orange-normal:rgba(250,244,235,1);
$background-label-orange-hover:rgba(252,228,199,1);
$background-label-orange-active:rgba(255,202,153,1);
$background-label-gold-normal:rgba(247,246,220,1);
$background-label-gold-hover:rgba(245,234,162,1);
$background-label-gold-active:rgba(235,212,96,1);
$background-common-normal:rgba(255,255,255,1);
$background-name-label-normal:rgba(0,0,0,0.5);
$background-label-pink-normal:rgba(255,242,245,1);
$background-label-pink-hover:rgba(255,224,231,1);
$background-label-pink-active:rgba(255,199,210,1);
$outline-label-cobalt:rgba(94,191,247,1);
$outline-label-lime:rgba(147,196,55,1);
$outline-label-mint:rgba(48,201,176,1);
$outline-label-slate:rgba(176,180,217,1);
$outline-label-violet:rgba(199,165,250,1);
$outline-label-purple:rgba(242,148,241,1);
$outline-label-orange:rgba(255,157,82,1);
$outline-label-gold:rgba(214,178,32,1);
$outline-label-pink:rgba(252,151,170,1);
$avatar-default:rgba(84,84,84,1);
$avatar-cobalt:rgba(8,89,156,1);
$avatar-cyan:rgba(6,96,112,1);
$avatar-gold:rgba(115,81,7,1);
$avatar-lime:rgba(65,97,22,1);
$avatar-mint:rgba(18,97,90,1);
$avatar-orange:rgba(145,64,23,1);
$avatar-pink:rgba(161,42,58,1);
$avatar-purple:rgba(147,32,153,1);
$avatar-slate:rgba(83,85,115,1);
$avatar-violet:rgba(100,58,189,1);
$avatar-yellow:rgba(125,71,5,1);
$gradient-divider-normal:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0.2),rgba(0,0,0,0.2));
$gradient-divider-hover:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0.6),rgba(0,0,0,0.6));
$gradient-divider-error-normal:linear-gradient(rgba(171,10,21,0),rgba(171,10,21,0),rgba(171,10,21,0.6),rgba(171,10,21,0.6));
$gradient-divider-error-hover:linear-gradient(rgba(171,10,21,0),rgba(171,10,21,0),rgba(171,10,21,0.9),rgba(171,10,21,0.9));
$gradient-divider-warning-normal:linear-gradient(rgba(125,71,5,0),rgba(125,71,5,0),rgba(125,71,5,0.6),rgba(125,71,5,0.6));
$gradient-divider-warning-hover:linear-gradient(rgba(125,71,5,0),rgba(125,71,5,0),rgba(125,71,5,0.9),rgba(125,71,5,0.9));
$gradient-divider-announce-normal:linear-gradient(rgba(3,82,166,0),rgba(3,82,166,0),rgba(3,82,166,0.6),rgba(3,82,166,0.6));
$gradient-divider-announce-hover:linear-gradient(rgba(3,82,166,0),rgba(3,82,166,0),rgba(3,82,166,0.9),rgba(3,82,166,0.9));
$content-pdf:rgba(238,5,7,1);
$content-word:rgba(0,120,214,1);
$content-powerpoint:rgba(217,62,23,1);
$content-excel:rgba(0,137,62,1);
$content-onenote:rgba(184,57,219,1);
$content-doc:rgba(66,133,244,1);
$content-sheets:rgba(244,180,0,1);
$content-slides:rgba(15,157,88,1);
$content-keynotes:rgba(2,156,251,1);
$common-touchbar-background-blue-normal:rgba(17,112,207,1);
$common-touchbar-background-blue-pressed:rgba(6,58,117,1);
$common-touchbar-background-pink-normal:rgba(102,38,45,1);
$common-touchbar-background-mint-normal:rgba(20,133,121,1);
$common-touchbar-background-mint-pressesd:rgba(18,66,63,1);
$common-touchbar-background-purple-normal:rgba(194,51,196,1);
$common-touchbar-background-purple-pressed:rgba(96,30,102,1);
$common-touchbar-background-violet-normal:rgba(135,90,224,1);
$common-touchbar-background-violet-pressesd:rgba(67,44,120,1);
$common-touchbar-background-orange-normal:rgba(199,79,14,1);
$common-touchbar-background-orange-pressesd:rgba(89,49,30,1);
$common-touchbar-background-green-normal:rgba(29,128,95,1);
$common-touchbar-background-green-pressesd:rgba(219,31,46,1);
$common-touchbar-background-green-pressed:rgba(120,13,19,1);
$common-touchbar-icon-attntion:rgba(100,180,250,1);