$gray-05:rgba(247,247,247,1);
$gray-10:rgba(237,237,237,1);
$gray-20:rgba(222,222,222,1);
$gray-30:rgba(201,201,201,1);
$gray-40:rgba(173,173,173,1);
$gray-50:rgba(143,143,143,1);
$gray-60:rgba(112,112,112,1);
$gray-70:rgba(84,84,84,1);
$gray-80:rgba(59,59,59,1);
$gray-90:rgba(38,38,38,1);
$gray-95:rgba(26,26,26,1);
$gray-100:rgba(15,15,15,1);
$blue-05:rgba(237,248,255,1);
$blue-10:rgba(219,240,255,1);
$blue-20:rgba(191,227,255,1);
$blue-30:rgba(150,208,255,1);
$blue-40:rgba(100,180,250,1);
$blue-50:rgba(52,146,235,1);
$blue-60:rgba(17,112,207,1);
$blue-70:rgba(3,83,168,1);
$blue-80:rgba(6,58,117,1);
$blue-90:rgba(10,39,74,1);
$blue-95:rgba(9,26,48,1);
$blue-100:rgba(7,16,28,1);
$green-05:rgba(237,247,245,1);
$green-10:rgba(206,245,235,1);
$green-20:rgba(159,237,216,1);
$green-30:rgba(104,222,189,1);
$green-40:rgba(60,194,154,1);
$green-50:rgba(39,161,122,1);
$green-60:rgba(29,128,95,1);
$green-70:rgba(24,94,70,1);
$green-80:rgba(19,66,49,1);
$green-90:rgba(14,43,32,1);
$green-95:rgba(10,28,21,1);
$green-100:rgba(7,18,13,1);
$red-05:rgba(255,245,246,1);
$red-10:rgba(255,232,234,1);
$red-20:rgba(255,212,218,1);
$red-30:rgba(255,184,193,1);
$red-40:rgba(252,139,152,1);
$red-50:rgba(245,88,104,1);
$red-60:rgba(219,31,46,1);
$red-70:rgba(171,10,21,1);
$red-80:rgba(120,13,19,1);
$red-90:rgba(79,14,16,1);
$red-95:rgba(51,13,14,1);
$red-100:rgba(31,10,10,1);
$yellow-05:rgba(255,246,227,1);
$yellow-10:rgba(255,235,194,1);
$yellow-20:rgba(255,218,148,1);
$yellow-30:rgba(255,190,79,1);
$yellow-40:rgba(242,153,10,1);
$yellow-50:rgba(207,121,0,1);
$yellow-60:rgba(166,94,0,1);
$yellow-70:rgba(125,71,5,1);
$yellow-80:rgba(87,51,10,1);
$yellow-90:rgba(54,34,12,1);
$yellow-95:rgba(36,24,11,1);
$yellow-100:rgba(20,14,8,1);
$white-alpha-00:rgba(255,255,255,0);
$white-alpha-05:rgba(255,255,255,0.05);
$white-alpha-07:rgba(255,255,255,0.07);
$white-alpha-11:rgba(255,255,255,0.11);
$white-alpha-20:rgba(255,255,255,0.2);
$white-alpha-30:rgba(255,255,255,0.3);
$white-alpha-40:rgba(255,255,255,0.4);
$white-alpha-50:rgba(255,255,255,0.5);
$white-alpha-60:rgba(255,255,255,0.6);
$white-alpha-70:rgba(255,255,255,0.7);
$white-alpha-80:rgba(255,255,255,0.8);
$white-alpha-90:rgba(255,255,255,0.9);
$white-alpha-95:rgba(255,255,255,0.95);
$white-alpha-100:rgba(255,255,255,1);
$black-alpha-00:rgba(0,0,0,0);
$black-alpha-04:rgba(0,0,0,0.04);
$black-alpha-07:rgba(0,0,0,0.07);
$black-alpha-11:rgba(0,0,0,0.11);
$black-alpha-20:rgba(0,0,0,0.2);
$black-alpha-30:rgba(0,0,0,0.3);
$black-alpha-40:rgba(0,0,0,0.4);
$black-alpha-50:rgba(0,0,0,0.5);
$black-alpha-60:rgba(0,0,0,0.6);
$black-alpha-70:rgba(0,0,0,0.7);
$black-alpha-80:rgba(0,0,0,0.8);
$black-alpha-90:rgba(0,0,0,0.9);
$black-alpha-95:rgba(0,0,0,0.95);
$black-alpha-100:rgba(0,0,0,1);
$orange-10:rgba(250,244,235,1);
$orange-20:rgba(252,228,199,1);
$orange-30:rgba(255,202,153,1);
$orange-40:rgba(255,157,82,1);
$orange-50:rgba(242,107,29,1);
$orange-60:rgba(199,79,14,1);
$orange-70:rgba(145,64,23,1);
$orange-80:rgba(89,49,30,1);
$orange-90:rgba(51,34,27,1);
$orange-100:rgba(33,25,22,1);
$gold-10:rgba(247,246,220,1);
$gold-20:rgba(245,234,162,1);
$gold-30:rgba(235,212,96,1);
$gold-40:rgba(214,178,32,1);
$gold-50:rgba(186,140,0,1);
$gold-60:rgba(153,110,0,1);
$gold-70:rgba(115,81,7,1);
$gold-80:rgba(77,55,12,1);
$gold-90:rgba(48,36,13,1);
$gold-100:rgba(33,25,11,1);
$olive-10:rgba(243,245,228,1);
$olive-20:rgba(231,237,183,1);
$olive-30:rgba(211,219,123,1);
$olive-40:rgba(180,186,67,1);
$olive-50:rgba(153,153,35,1);
$olive-60:rgba(125,122,24,1);
$olive-70:rgba(92,88,19,1);
$olive-80:rgba(64,61,17,1);
$olive-90:rgba(41,38,13,1);
$olive-100:rgba(28,26,10,1);
$lime-10:rgba(243,247,233,1);
$lime-20:rgba(221,242,174,1);
$lime-30:rgba(188,227,111,1);
$lime-40:rgba(147,196,55,1);
$lime-50:rgba(115,163,33,1);
$lime-60:rgba(88,130,25,1);
$lime-70:rgba(65,97,22,1);
$lime-80:rgba(45,66,20,1);
$lime-90:rgba(30,43,16,1);
$lime-100:rgba(20,28,12,1);
$mint-10:rgba(233,247,243,1);
$mint-20:rgba(186,245,231,1);
$mint-30:rgba(116,232,209,1);
$mint-40:rgba(48,201,176,1);
$mint-50:rgba(22,166,147,1);
$mint-60:rgba(20,133,121,1);
$mint-70:rgba(18,97,90,1);
$mint-80:rgba(18,66,63,1);
$mint-90:rgba(16,43,42,1);
$mint-100:rgba(12,28,27,1);
$cyan-10:rgba(230,249,250,1);
$cyan-20:rgba(178,244,247,1);
$cyan-30:rgba(103,231,240,1);
$cyan-40:rgba(34,199,214,1);
$cyan-50:rgba(0,163,181,1);
$cyan-60:rgba(0,128,148,1);
$cyan-70:rgba(6,96,112,1);
$cyan-80:rgba(10,65,77,1);
$cyan-90:rgba(11,42,48,1);
$cyan-100:rgba(9,28,33,1);
$cobalt-10:rgba(229,248,255,1);
$cobalt-20:rgba(199,238,255,1);
$cobalt-30:rgba(153,221,255,1);
$cobalt-40:rgba(94,191,247,1);
$cobalt-50:rgba(39,155,232,1);
$cobalt-60:rgba(10,120,204,1);
$cobalt-70:rgba(8,89,156,1);
$cobalt-80:rgba(16,60,99,1);
$cobalt-90:rgba(18,40,61,1);
$cobalt-100:rgba(15,26,38,1);
$slate-10:rgba(242,244,255,1);
$slate-20:rgba(227,231,250,1);
$slate-30:rgba(206,210,237,1);
$slate-40:rgba(176,180,217,1);
$slate-50:rgba(140,145,189,1);
$slate-60:rgba(111,115,158,1);
$slate-70:rgba(83,85,115,1);
$slate-80:rgba(57,58,71,1);
$slate-90:rgba(38,38,43,1);
$slate-100:rgba(26,26,28,1);
$violet-10:rgba(248,242,252,1);
$violet-20:rgba(240,227,252,1);
$violet-30:rgba(226,202,252,1);
$violet-40:rgba(199,165,250,1);
$violet-50:rgba(168,127,240,1);
$violet-60:rgba(135,90,224,1);
$violet-70:rgba(100,58,189,1);
$violet-80:rgba(67,44,120,1);
$violet-90:rgba(41,34,61,1);
$violet-100:rgba(27,24,36,1);
$purple-10:rgba(252,242,252,1);
$purple-20:rgba(252,225,252,1);
$purple-30:rgba(250,195,248,1);
$purple-40:rgba(242,148,241,1);
$purple-50:rgba(224,96,222,1);
$purple-60:rgba(194,51,196,1);
$purple-70:rgba(147,32,153,1);
$purple-80:rgba(96,30,102,1);
$purple-90:rgba(59,24,64,1);
$purple-100:rgba(37,19,41,1);
$pink-10:rgba(255,242,245,1);
$pink-20:rgba(255,224,231,1);
$pink-30:rgba(255,199,210,1);
$pink-40:rgba(252,151,170,1);
$pink-50:rgba(240,103,126,1);
$pink-60:rgba(212,59,82,1);
$pink-70:rgba(161,42,58,1);
$pink-80:rgba(102,38,45,1);
$pink-90:rgba(59,30,33,1);
$pink-100:rgba(36,22,23,1);
$gradation-webex-light-primary:linear-gradient(rgba(240,240,240,1),rgba(255,255,255,1));
$gradation-webex-light-secondary:linear-gradient(rgba(250,250,250,1),rgba(255,255,255,1));
$gradation-webex-dark-primary:linear-gradient(rgba(26,26,26,1),rgba(15,15,15,1));
$gradation-webex-dark-secondary:linear-gradient(rgba(38,38,38,1),rgba(15,15,15,1));
$gradation-indigo-light-primary:linear-gradient(rgba(235,239,252,1),rgba(255,255,255,1));
$gradation-indigo-light-secondary:linear-gradient(rgba(247,249,255,1),rgba(255,255,255,1));
$gradation-indigo-dark-primary:linear-gradient(rgba(19,24,43,1),rgba(14,17,26,1));
$gradation-indigo-dark-secondary:linear-gradient(rgba(33,37,54,1),rgba(14,17,26,1));
$gradation-jade-light-primary:linear-gradient(rgba(230,242,241,1),rgba(255,255,255,1));
$gradation-jade-light-secondary:linear-gradient(rgba(247,252,252,1),rgba(255,255,255,1));
$gradation-jade-dark-primary:linear-gradient(rgba(0,28,24,1),rgba(2,20,18,1));
$gradation-jade-dark-secondary:linear-gradient(rgba(18,41,37,1),rgba(2,20,18,1));
$gradation-bronze-light-primary:linear-gradient(rgba(245,239,228,1),rgba(255,255,255,1));
$gradation-bronze-light-secondary:linear-gradient(rgba(252,250,244,1),rgba(255,255,255,1));
$gradation-bronze-dark-primary:linear-gradient(rgba(31,20,2,1),rgba(23,16,2,1));
$gradation-bronze-dark-secondary:linear-gradient(rgba(46,37,21,1),rgba(23,16,2,1));
$gradation-rose-light-primary:linear-gradient(rgba(252,235,245,1),rgba(255,255,255,1));
$gradation-rose-light-secondary:linear-gradient(rgba(255,249,253,1),rgba(255,255,255,1));
$gradation-rose-dark-primary:linear-gradient(rgba(48,4,30,1),rgba(31,6,21,1));
$gradation-rose-dark-secondary:linear-gradient(rgba(64,22,46,1),rgba(31,6,21,1));
$gradation-lavender-light-primary:linear-gradient(rgba(244,235,255,1),rgba(255,255,255,1));
$gradation-lavender-light-secondary:linear-gradient(rgba(251,247,255,1),rgba(255,255,255,1));
$gradation-lavender-dark-primary:linear-gradient(rgba(35,18,55,1),rgba(24,8,43,1));
$gradation-lavender-dark-secondary:linear-gradient(rgba(48,26,74,1),rgba(24,8,43,1));
$solid-bronze-light-primary:rgba(245,239,228,1);
$solid-bronze-light-secondary:rgba(252,250,244,1);
$solid-bronze-dark-primary:rgba(23,16,2,1);
$solid-bronze-dark-secondary:rgba(35,24,7,1);
$solid-lavender-light-primary:rgba(244,235,255,1);
$solid-lavender-light-secondary:rgba(251,247,255,1);
$solid-lavender-dark-primary:rgba(24,8,43,1);
$solid-lavender-dark-secondary:rgba(39,22,59,1);
$solid-rose-light-primary:rgba(252,235,245,1);
$solid-rose-light-secondary:rgba(255,249,253,1);
$solid-rose-dark-primary:rgba(31,6,21,1);
$solid-rose-dark-secondary:rgba(48,4,30,1);
$solid-jade-light-primary:rgba(230,242,241,1);
$solid-jade-light-secondary:rgba(247,252,252,1);
$solid-jade-dark-primary:rgba(2,20,18,1);
$solid-jade-dark-secondary:rgba(5,32,28,1);
$solid-indigo-light-primary:rgba(235,239,252,1);
$solid-indigo-light-secondary:rgba(247,249,255,1);
$solid-indigo-dark-primary:rgba(14,17,26,1);
$solid-indigo-dark-secondary:rgba(19,24,43,1);
$solid-default-light-primary:rgba(247,247,247,1);
$solid-default-light-secondary:rgba(255,255,255,1);
$solid-default-dark-primary:rgba(0,0,0,1);
$solid-default-dark-secondary:rgba(26,26,26,1);